body		{
			background-color:violet;
			font-family : arial;
			}

            <style>
	justified-text  {
	 text-align: justify
	}

#start  {
	background-color: blue
	border: solid 1px green;
	border-top-style: dotted;
	
}

nav ul {
	list-style-type: none;
	background-color:grey;
}

nav a {
	color: white
	text-decoration: none;
	display: block;
	padding:15px;
	text-align: center;
	
}

nav a : hover {
	background-color: blue;
	
	